.home{
    padding: 0 20px 300px 20px;
    height: 100%;
    background: #ffffff;
}
.home .am-list-body{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
}
.home-list{
    position: relative;
    top: 180px;
    background: #ffffff;
    overflow: auto;
    -webkit-overflow-scrolling:touch
}
.home-list .houseType{
    font-size: 35px;
    color: #e47e1e;
    text-align: center;
    font-weight: 550;
    margin-top: 20px;
}