.order-form{
    margin: 30px;
}
.ant-upload.ant-upload-select-picture-card>.ant-upload {
    height: 200px;
}
.sure{
    height: 80px;
    line-height: 80px;
    margin-top: 40px;
    text-align: center;
    color: #ffffff;
    background: rgb(204, 46, 46);
}