.order-user-info{
    border: 1px solid #f1f1f1;
    border-radius: 20px;
    background: #ffffff;
    margin: 30px;
    font-size: 32px;
}
.order-user-info p{
    margin-left: 20px;
}
.order-user-info p:nth-of-type(3){
    color: #868181;
}
.pay-status{
    height: 80px;
    line-height: 80px;
    text-align: center;
    border: 1px solid #f1f1f1;
    color: #838181;
}